html, body {
    height: 100%;
}

body {
    background-color: #fff;
    font-family: sans-serif;
    overflow: hidden;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}