<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{ pageTitle }}</title>
    {% load static %}
    <script src="{% static 'scratch-blocks/blockly_compressed_vertical.js' %}"></script>
    <script src="{% static 'scratch-blocks/msg/messages.js' %}"></script>
    <script src="{% static 'scratch-blocks/blocks_compressed.js' %}"></script>
    <script src="{% static 'scratch-blocks/blocks_compressed_vertical.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{%static "css/splitIndex.css" %}" />
  </head>
  <body>
    <div id="root"></div>
    <script src="{%static "frontend/main.js" %}"></script>
  </body>
</html>