html, body {
    height: 100%;
}

body {
    background-color: #fff;
    font-family: sans-serif;
    overflow: hidden;
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#leftDiv {
    height: 80%;
    width: 49%;
    position: fixed;
    z-index: 1;
    top: 10%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    left: 0;
}

#rightDiv {
    height: 80%;
    width: 49%;
    position: fixed;
    z-index: 1;
    top: 10%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    right: 0;
}

#buttonDiv {
    height: 10%;
    width: 100%;
    position: fixed;
    z-index: 0;
    top: 90%;
}